<div class="divStats">

    <div class="headerStats">
        <input style="width:40%;height:100%;margin:auto;margin-right:1%;margin-left:1%" type="text"  placeholder="Nom du Match.."/>
        <p style="margin-top:2px;margin-bottom:2px;">{{date}}</p>
        <div style="display:flex;width:60%;margin:auto;">
            <select [(ngModel)]="select.division" style="margin-right:1%" (change)="select.sexe=select.division.equipes[0];select.team=getOtherTeams()[0];select.sex=select.team.equipes[0]">
                <option *ngFor="let division of equipes" [hidden]="division.nom=='Loisirs'" [ngValue]="division">{{division.nom}}</option>
            </select>
            <select [(ngModel)]="select.sexe" style="margin-left:1%">
                <option *ngFor="let sexe of getSexes()" [ngValue]="sexe">{{sexe.nom}}</option>
            </select>
        </div>

        <div class="scores">
            <div style="margin-left:auto;">
                <p class="points" style="color:rgb(200, 255, 187)">{{scores.points1}}</p>
                <p class="set" style="color:rgb(200, 255, 187)">{{scores.sets1}}</p>
            </div>
            <div style="width:5px;"></div>
            <div style="margin-right:auto;">
                <p class="set" style="color:rgb(255, 187, 187)">{{scores.sets2}}</p>
                <p class="points" style="color:rgb(255, 187, 187)">{{scores.points2}}</p>
            </div>
        </div>
    </div>

    <div style="width:40%;margin:auto;margin-bottom:1%;display:flex;">
        <div><button type="button" (click)="changeService2()"><p>Service à {{service?'nous':'eux'}}</p></button></div>
        <div><button type="button" (click)="rotation()"><p>Rotation</p></button></div>
    </div>

    <div class="divStatsTerrain">

        <div class="autreCote">
            <div class="clickable" (click)="clickAdverse()"
            style="width:30%;height:70%;position:relative;top:5%;margin:auto;background-color:black;color:white;border-radius:10px;border:5px solid white;font-weight:bold;">
                <p>{{adverse}}</p>
            </div>
        </div>
        <div class="filet"></div>

        <div *ngIf="cote==true" class="terrain">

            <div style="height:5px;width:100%;background-color:white;position:relative;top:40%"></div>

            <div class="joueur" *ngFor="let joueur of getTerrain();let i = index" (click)="clickJoueur((i+nb)%6,joueur)"
            [ngClass]="i==0||i==4||i==5?'joueurArriere':'joueurAvant'"
            [ngStyle]="{'left':(i==5||i==2)?'33%':(i==1||i==0)?'67%':'0%','height':(i==1||i==2||i==3)?'40%':'60%','top':(i==1||i==2||i==3)?'0%':'40%','width':(i==5||i==2)?'34%':'33%'}">

                <div *ngIf="joueurClicked==joueur||(eleveClicked==joueur&&message==2)" (click)="joueurClicked=undefined;" style="background-color:black;color:white;height:10%;">
                    <p>{{joueur.numero}}&nbsp;{{joueur.prenom}}&nbsp;{{joueur.nom}}</p>
                </div>

                <div *ngIf="joueurClicked==joueur&&action==undefined" style="width:100%;height:100%;position:absolute;">
                    <div class="choix actions" style="position: absolute;z-index:2;">
                        <div (click)="action='ATTAQUE'" style="top:0%;"><p>ATTAQUE</p></div>
                        <div (click)="action='BLOC'" style="top:0%;right:0%"><p>BLOC</p></div>
                        <div (click)="action='SERVICE'" style="top:33%"><p>SERVICE</p></div>
                        <div (click)="action='PASSE'" style="top:33%;right:0%"><p>PASSE</p></div>
                        <div (click)="action='RECEPTION'" style="bottom:0%;"><p>RECEPTION</p></div>
                        <div (click)="action='DEFENSE'" style="bottom:0%;right:0%;"><p>DEFENSE</p></div>
                    </div>
                </div>

                <div *ngIf="joueurClicked==joueur&&action!=undefined" style="width:100%;height:100%;position:absolute;">
                    <div class="choix result" style="position: absolute;z-index:2;">
                        <div (click)="action=undefined"         style="top:0%;background-color:black;color:white;border:unset;width:100%;height:20%;"><p style="top:15%;">{{action}}</p></div>
                        <div (click)="clickResult('POINT')"     style="top:20%;background-color:rgb(100, 255, 100)"><p>POINT</p></div>
                        <div (click)="clickResult('FAUTE')"     style="top:20%;right:0%;background-color:rgb(255, 100, 100)"><p>FAUTE</p></div>
                        <div (click)="clickResult('POSITIF')"   style="bottom:0%;background-color:rgb(255, 200, 100)"><p>POSITIF</p></div>
                        <div (click)="clickResult('NEUTRE')"    style="bottom:0%;right:0%;background-color:rgb(100, 100, 255)"><p>NEUTRE</p></div>
                    </div>
                </div>

                <div *ngIf="eleveClicked==joueur&&message==2" style="width:100%;height:100%;position:absolute;">
                    <div class="choix result" style="position: absolute;z-index:2;">
                        <div (click)="cancelRole(i)" style="top:0%;background-color:black;color:white;border:unset;width:100%;height:20%;"><p style="top:15%;">ANNULER</p></div>
                        <div (click)="clickRole('R4')"     style="top:20%;"><p>R4</p></div>
                        <div (click)="clickRole('PASSEUR')"     style="top:20%;right:0%;"><p>PASSEUR</p></div>
                        <div (click)="clickRole('POINTU')"   style="bottom:0%;"><p>POINTU</p></div>
                        <div (click)="clickRole('CENTRAL')"    style="bottom:0%;right:0%;"><p>CENTRAL</p></div>
                    </div>
                </div>

                <div class="infos" [ngStyle]="{'background-color':joueur.role=='LIBERO'?'black':'white','border-color':joueur.role=='LIBERO'?'white':'black'}">
                    <p style="color:#808080">{{i+1}}</p>
                    <p *ngIf="joueur.capitaine" style="color:darkgreen">Capitaine</p>
                    <p [ngStyle]="{'color':joueur.role=='LIBERO'?'white':'black'}">{{joueur.numero}}&nbsp;{{joueur.prenom}}</p>
                    <p [ngStyle]="{'color':joueur.role=='LIBERO'?'white':'black'}">{{joueur.nom}}</p>
                    <p style="color:red;">{{joueur.role}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="menu" style="display:flex;">
        <div class="clickable" [ngStyle]="{'background-color':menu=='equipe'?'#505050':'black'}" (click)="menu='equipe'"><p>Equipe</p></div>
        <div class="clickable" [ngStyle]="{'background-color':menu=='actions'?'#505050':'black'}"(click)="menu='actions'"><p>Actions</p></div>
        <div class="clickable" [ngStyle]="{'background-color':menu=='stats'?'#505050':'black'}"(click)="menu='stats'"><p>Stats</p></div>
    </div>

    <div class="tabDiv" style="margin-top:2%;padding:10px;" *ngIf="menu=='equipe'">
            
            <div style="margin-bottom:2%;display:flex">
               <p style="font-weight: bold;color:red;">{{messages[message]}}</p> 
                <div style="display:flex;" *ngIf="message==4">
                    <button type="button" (click)="setService(true)" style="margin:unset"><p>Nous</p></button>
                    <button type="button" (click)="setService(false)" style="margin:unset;margin-left:2%;"><p>Eux</p></button>
                </div>
            </div>

            <div class="thDiv">
                <p>ROLE</p>
                <p>PRENOM</p>
                <p>NOM</p>
            </div>

            <div class="scrollable" style="max-height:300px;">
                <div class="tdDiv clickable in" *ngFor="let eleve of getJoueurs()" (click)="clickEquipe(eleve)" [ngStyle]="{'color':eleve.capitaine?'darkgreen':'#505050','background-color':eleve==joueurCote?'#cacaca':'rgb(255, 170, 130)'}">
                    <div *ngIf="eleveClicked!=eleve">
                        <p>{{eleve.role}}</p>
                        <p>{{eleve.prenom}}</p>
                        <p>{{eleve.nom}}</p>
                    </div>
                    <div *ngIf="eleveClicked==eleve">
                        <p *ngIf="message==3" style="color:red;">Valider {{eleve.prenom}}&nbsp;{{eleve.nom}} comme capitaine</p>
                        <p *ngIf="message==5" style="color:red;">Cliquez sur le joueur qui devra remplacer {{eleve.prenom}}&nbsp;{{eleve.nom}}</p>
                    </div>
                </div>
                <div class="tdDiv clickable" *ngFor="let eleve of getOthers()" (click)="clickEleve(eleve)">
                    <div *ngIf="eleveClicked!=eleve" [ngStyle]="{'color':eleve.capitaine?'darkgreen':'#505050'}">
                        <p>-</p>
                        <p>{{eleve.prenom}}</p>
                        <p>{{eleve.nom}}</p>
                    </div>
                    <div *ngIf="eleveClicked==eleve">
                        <p *ngIf="message==0" style="color:red;">Valider {{eleve.prenom}}&nbsp;{{eleve.nom}} comme libéro</p>
                        <p *ngIf="message==1" style="color:red;">Placez {{eleve.prenom}}&nbsp;{{eleve.nom}} sur le terrain</p>
                        <p *ngIf="message==2" style="color:red;">Choisissez le rôle de {{eleve.prenom}}&nbsp;{{eleve.nom}}</p>
                        <p *ngIf="message==3" style="color:red;">Valider {{eleve.prenom}}&nbsp;{{eleve.nom}} comme capitaine</p>
                    </div>
                </div>
            </div>            

            <div class="tfDiv">
                <div style="margin:1%">

                    <select [(ngModel)]="select.team" style="width:100%;" (change)="select.sex=select.team.equipes[0];select.player=undefined">
                        <option *ngFor="let team of getOtherTeams()" [ngValue]="team">{{team.nom}}</option>
                    </select>
                    <select [(ngModel)]="select.sex" style="width:100%;" (change)="select.player=undefined">
                        <option *ngFor="let sex of getSexs()" [ngValue]="sex">{{sex.nom}}</option>
                    </select>
                    <select [(ngModel)]="select.player" (change)="changePlayerSelected()" style="width:100%;">
                        <option *ngFor="let player of getplayersSelectedTeam()" [ngValue]="player">{{player.prenom}}&nbsp;{{player.nom}}</option>
                    </select>
                </div>

                <input style="width:20%;height:100%;margin:auto;margin-right:1%;margin-left:1%" type="text" [(ngModel)]="select.prenom" placeholder="Prénom.."/>
                <input style="width:20%;height:100%;margin:auto;" type="text" [(ngModel)]="select.nom" placeholder="Nom.."/>

                <button style="white-space:nowrap;margin: 1% 1% 1% 2%;" type="button" class="secondButton" (click)="ajouterJoueur()">Ajouter joueur</button>
            </div>

    </div>

    <div *ngIf="menu=='actions'">

        <button type="button" (click)="annulerAction()">
            <p>{{annuler}}</p>
        </button>

        <div class="tabDiv" style="padding:10px;">
            
            <div class="thDiv">
                <p>JOUEUR</p>
                <p>ACTION</p>
                <p>RESULTAT</p>
            </div>
    
            <div class="scrollable" style="max-height:300px;">
                <div class="tdDiv clickable" *ngFor="let action of actions.slice().reverse()" (click)="actionClicked==action?deleteAction(action):actionClicked=action"
                [ngStyle]="{'color':actionClicked==action?'white':'black','background-color':actionClicked==action?'black':action.resultat=='POINT'?'rgb(200, 255, 200)':action.resultat=='FAUTE'?'rgb(255, 200, 200)':action.resultat=='POSITIF'?'rgb(255, 236, 200)':'rgb(200, 200, 255)'}">
                    <p>{{action.joueur.numero}}</p>
                    <p>{{action.action}}</p>
                    <p>{{action.resultat}}</p>
                </div>
            </div>            
    
            <div class="tfDiv" style="height:40px;"></div>
        </div>
    </div>

    <div class="tabDiv" *ngIf="menu=='stats'" style="margin-top:2%;margin-bottom:10%;width:120%;left:-10%;position: relative;min-width:800px;">
        <div class="thDiv2">
            <div style="min-width:170px;border:unset;"><p>JOUEUR</p></div>

            <div><div><p>SERVICE</p>    </div><div style="display:flex;"><p>P</p><p>+</p><p>=</p><p>F</p></div></div>
            <div><div><p>ATTAQUE</p>    </div><div style="display:flex;"><p>P</p><p>+</p><p>=</p><p>F</p></div></div>
            <div><div><p>RECEPTION</p>  </div><div style="display:flex;"><p>P</p><p>+</p><p>=</p><p>F</p></div></div>
            <div><div><p>DEFENSE</p>    </div><div style="display:flex;"><p>P</p><p>+</p><p>=</p><p>F</p></div></div>
            <div><div><p>BLOC</p>       </div><div style="display:flex;"><p>P</p><p>+</p><p>=</p><p>F</p></div></div>
            <div><div><p>PASSE</p>      </div><div style="display:flex;"><p>P</p><p>+</p><p>=</p><p>F</p></div></div>
        </div>

        <div class="scrollable" style="max-height:300px;">
            <div class="tdDiv2" *ngFor="let stat of stats;let i = index" [ngStyle]="{'background-color':i%2!=0?'#cccccc':'white'}">
                <div style="min-width:170px;border:unset;color:black;"><p>{{stat.joueur.numero}}&nbsp;-&nbsp;{{stat.joueur.prenom}}</p></div>
                <div>
                    <p>{{getStats(stat.actions,'SERVICE','POINT')}}</p>
                    <p>{{getStats(stat.actions,'SERVICE','POSITIF')}}</p>
                    <p>{{getStats(stat.actions,'SERVICE','NEUTRE')}}</p>
                    <p>{{getStats(stat.actions,'SERVICE','FAUTE')}}</p>
                </div>
                <div>
                    <p>{{getStats(stat.actions,'ATTAQUE','POINT')}}</p>
                    <p>{{getStats(stat.actions,'ATTAQUE','POSITIF')}}</p>
                    <p>{{getStats(stat.actions,'ATTAQUE','NEUTRE')}}</p>
                    <p>{{getStats(stat.actions,'ATTAQUE','FAUTE')}}</p>
                </div>
                <div>
                    <p>{{getStats(stat.actions,'RECEPTION','POINT')}}</p>
                    <p>{{getStats(stat.actions,'RECEPTION','POSITIF')}}</p>
                    <p>{{getStats(stat.actions,'RECEPTION','NEUTRE')}}</p>
                    <p>{{getStats(stat.actions,'RECEPTION','FAUTE')}}</p>
                </div>
                <div>
                    <p>{{getStats(stat.actions,'DEFENSE','POINT')}}</p>
                    <p>{{getStats(stat.actions,'DEFENSE','POSITIF')}}</p>
                    <p>{{getStats(stat.actions,'DEFENSE','NEUTRE')}}</p>
                    <p>{{getStats(stat.actions,'DEFENSE','FAUTE')}}</p>
                </div>
                <div>
                    <p>{{getStats(stat.actions,'BLOC','POINT')}}</p>
                    <p>{{getStats(stat.actions,'BLOC','POSITIF')}}</p>
                    <p>{{getStats(stat.actions,'BLOC','NEUTRE')}}</p>
                    <p>{{getStats(stat.actions,'BLOC','FAUTE')}}</p>
                </div>
                <div>
                    <p>{{getStats(stat.actions,'PASSE','POINT')}}</p>
                    <p>{{getStats(stat.actions,'PASSE','POSITIF')}}</p>
                    <p>{{getStats(stat.actions,'PASSE','NEUTRE')}}</p>
                    <p>{{getStats(stat.actions,'PASSE','FAUTE')}}</p>
                </div>
            </div>
        </div>

        <div class="thDiv2" style="margin-top:2%;">
            <div style="min-width:170px;border:unset;"><p>JOUEUR</p></div>

            <div><p>VOLUME</p>                 </div>
            <div><p>EFF.<br/> ATTAQUE</p>      </div>
            <div><p>EFF.<br/> RECEPTION</p>    </div>
            <div><p>EFF.<br/> DEFENSE</p>      </div>
            <div><p>POINTS<br/>/FAUTES</p>          </div>
            <div><p>RENDEMENT</p>              </div>
        </div>

        <div class="scrollable" style="max-height:300px;">
            <div class="tdDiv2" *ngFor="let stat of stats;let i = index" [ngStyle]="{'background-color':i%2!=0?'#cccccc':'white'}">
                <div style="min-width:170px;border:unset;color:black;"><p>{{stat.joueur.numero}}&nbsp;-&nbsp;{{stat.joueur.prenom}}</p></div>
                <div><p>{{getData(stat.actions,'VOLUME')}}</p></div>
                <div><p>{{getData(stat.actions,'EFFATTAQUE')}}</p></div>
                <div><p>{{getData(stat.actions,'EFFRECEPTION')}}</p></div>
                <div><p>{{getData(stat.actions,'EFFDEFENSE')}}</p></div>
                <div><p>{{getData(stat.actions,'POINTSFAUTES')}}</p></div>
                <div><p>{{getData(stat.actions,'RENDEMENT')}}</p></div>
            </div>
        </div>

    </div>
</div>