<div>

    <div class="titleTab">
        <p>Planning</p>
    </div>

    <div style="border-radius:10px;overflow:hidden;margin-bottom:2%;">
        <div class="divPlanning" *ngFor="let journee of jours">
            <div class="divJour">
                <p>{{journee}}</p>
            </div>

            <div class="divSeances">
                <div *ngFor="let training of getEntrainements(journee)">
                    <button type="button" style="margin:0" [ngClass]="entrainement==training?'secondButton':'noClass'" (click)="setEntrainement(training,journee)">
                        <p style="font-size:12px;">{{training.gymnase}}</p>
                        <div style="display:flex;padding:0">
                            <p style="white-space: nowrap;">{{training.equipe}}&nbsp;&nbsp;</p>
                        </div>
                        <div style="display:flex;padding:0">
                            <p>{{training.debut}}</p>
                            <p>&nbsp;-&nbsp;</p>
                            <p>{{training.fin}}</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="titleTab">

        <select [(ngModel)]="selectedGymnase">
            <option *ngFor="let gymnase of gymnases" [value]="gymnase">{{gymnase}}</option>
        </select>

        <div style="display:flex">
            <select [(ngModel)]="selectedJour">
                <option *ngFor="let jour of jours" [value]="jour">{{jour}}</option>
            </select>
            <select [(ngModel)]="selectedDebut" style="margin-left:2%;margin-right:2%">
                <option *ngFor="let heure of heures" [value]="heure">{{heure}}</option>
            </select>
            <select [(ngModel)]="selectedFin">
                <option *ngFor="let heure of heures" [value]="heure">{{heure}}</option>
            </select>
        </div>

        <div style="display:flex">
            <select [(ngModel)]="selectedEquipe" style="margin-right:1%" (change)="changeEquipe()">
                <option *ngFor="let equipe of equipes" [value]="equipe.nom">{{equipe.nom}}</option>
            </select>
            <select [(ngModel)]="selectedType" style="margin-left:1%">
                <option *ngFor="let type of types" [value]="type">{{type}}</option>
            </select>
        </div>
    </div>

    <div>
        <div class="tabDiv">
            
            <div class="thDiv">
                <p>PRENOM</p>
                <p>NOM</p>
            </div>

            <div class="scrollable" style="max-height:300px;">
                <div class="tdDiv clickable" *ngFor="let eleve of getEquipe()" [ngClass]="!eleve.absent?'noClass':'eleveAbsent'" (click)="clickEleve(eleve)">
                    <p>{{eleve.prenom}}</p>
                    <p>{{eleve.nom}}</p>
                </div>
            </div>

            

            <div class="tfDiv">
                <div style="margin:1%">
                    <select [(ngModel)]="selectedTeamAddPlayer" style="width:100%;">
                        <option *ngFor="let team of getOtherTeams()" [ngValue]="team">{{team.nom}}</option>
                    </select>
                    <select [(ngModel)]="selectedPlayerAdd" (change)="changePlayerSelected()" style="width:100%;">
                        <option *ngFor="let player of getplayersSelectedTeam()" [ngValue]="player">{{player.prenom}}&nbsp;{{player.nom}}</option>
                    </select>
                </div>

                <input style="width:20%;height:100%;margin:auto;margin-right:1%;margin-left:1%" type="text" [(ngModel)]="prenomAdd" placeholder="Prénom.."/>
                <input style="width:20%;height:100%;margin:auto;" type="text" [(ngModel)]="nomAdd" placeholder="Nom.."/>

                <button style="white-space:nowrap;margin: 1% 1% 1% 2%;" type="button" class="secondButton" (click)="ajouterJoueur()">Ajouter joueur</button>
            </div>

        </div>

        <div class="divAbsents">
            <div *ngFor="let absent of getAbsents()">
                <p>{{absent.prenom}}</p>
                <p>{{absent.nom}}</p>
            </div>
        </div>

        <div class="titleTab">
            <p>{{getNbAbsents()}}</p>
        </div>


        
        <div>
            <button type="button" (click)="mailEnvoye!=false?sendEmail():null">Envoyer fiche de présence</button>
            <p *ngIf="mailEnvoye==false">Envoi en cours..</p>
            <p *ngIf="mailEnvoye==true">Mail envoyé !</p>
        </div>

    </div>
</div>